body{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;

   background: linear-gradient(135deg, #00feba,#7665e5);
}

#container{

   background: rgba(18, 0, 0, 0.1);
   /*The blur Effect for the Frosted look*/
   backdrop-filter: blur(10px);
   border: 1px solid rgba(237, 233, 233, 0.2);
   padding: 30px;
   border-radius: 20px;
   color:whitesmoke;
}
.search-box{
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 30px;

}
input{
   border: none;
   outline: none;
   padding: 15px 20px;
   border-radius: 30px;
   flex: 1; /*take up remaining space*/
}

button{
   border: none;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   background: whitesmoke;
   cursor: pointer;
}

.col{
   display: flex;
   align-items: center;
   gap: 10px;
   text-align: left;
}