body{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;

   background: linear-gradient(135deg, #00feba,#7665e5);
}

#container{

   background: rgba(18, 0, 0, 0.1);
   /*The blur Effect for the Frosted look*/
   backdrop-filter: blur(10px);
   border: 1px solid rgba(237, 233, 233, 0.2);
   padding: 30px;
   border-radius: 20px;
   color:whitesmoke;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}
.search-box{
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 30px;

}
input{
   border: none;
   outline: none;
   padding: 15px 20px;
   border-radius: 30px;
   flex: 1; /*take up remaining space*/
}

button{
   border: none;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   background: whitesmoke;
   cursor: pointer;
}

.col{
   display: flex;
   align-items: center;
   gap: 10px;
   text-align: left;
}
#weather-info{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;

}

.weather-text{
   display: flex;
   align-items: flex-start;
   flex-direction: column;
}
.temp{
   font-size:6rem;
  
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   margin: 0 ;
}
.type{
   font-size: 3rem;
   margin: 0;

}
.city{
   font-size: 1.5rem;
   text-transform: uppercase;

}
.details{
   display: flex;
   justify-content: space-between;
   margin-top:  30px;
   gap: 10px;
}
.col{
   background: rgba(255, 255,255, 0.2);
   padding: 15px;
   border-radius: 30px;
   backdrop-filter:blur(5px);
   
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1;

}
.colimg{
   width: 30px;
   margin-right: 10px;
}



